* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 0.5px solid #000000;
    font-size: 22px;
    margin-top: 10px; 
    padding: 10px 0 20px 0;  
}

header h1 {
    font-size: 32px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}


.container {
    display: grid;
    grid-template-columns: 40vh auto;
    background-color: white;
    width: 90%;
    min-height: 80vh;
    margin: auto;
    border-radius: 20px;
     
}

.container h1, hr {
    margin: 40px 20px;
}
.content {
    font-size: 20px;
    text-align: center;
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    text-align: center;  
    background-color: #8CCAC6;  
    border-radius: 20px; 
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2); 
    overflow: hidden;  
    transition: box-shadow 0.3s; 
   
}


.sidebar:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);  
}

.sidebar a {
    padding: 15px 20px;  
    text-decoration: none;  
    font-size: 26px; 
    color: #333;  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);  
    transition: background-color 0.3s, color 0.3s;  
}

.sidebar a:hover {
    background-color: #D1CACA; 
    color: white;  
}


.sidebar a.account:hover {
    background-color: transparent;  
}

 
.sidebar a.fix-head {
    background-color: #8CCAC6;  
    color: #333; 
    font-weight: bold; 
    border-bottom: none; 
    font-size: 32px;
}

.sidebar a.fix-head:hover {
    background-color: #8CCAC6;  
    color: #333; 
}


.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;  
    width: 90%; 
    margin: auto; 
    padding: 20px; 
}

.cart-item {
    background-color: #ffffff; 
    border-radius: 10px; 
    text-align: center;  
    padding: 20px; 
    font-size: 18px; 
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;  
    width: 280px; 
    margin: 10px;  
}
 
.cart-image {
    height: 250px; 
    margin-bottom: 10px; 
    width: 100%; 
    border-radius: 20px; 
    
}

.pricetag {
    width: 100%; 
    background-color: #8CCAC6; 
    border-radius: 20px;  
    text-align: center; 
    padding: 15px;  
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  
    margin: 10px 0 0 0;  
}

.pricetag h3 {
    margin: 0;  
    color: #000000;
    font-size: 20px;
}

.pricetag p {
    margin: 5px 0 0 0;  
    font-size: 18px;  
    color: #000000;  
}
.icon-image {
    position: absolute;  
    top: 5px;  
    left: 5px;  
    width: 50px;  
    height: 50px;  
    z-index: 1; 
}

 
 