{% load static %}
{% block title %}
{% endblock %}

{% block head %}
<style>
    body {
        background: #1E9E95;
        background: radial-gradient(circle, #1E9E95 0%, rgba(255,255,255,1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .register {
        width: 400px;
        box-sizing: border-box;
        padding: 30px;
        margin: 8% auto 0;
        position: relative;
        border-radius: 20px;
        text-align: center;
    }
    .register h2 {
    font-size: 2rem;
      margin-bottom: 20px;
      color: #ffffff;
    }
    .register .row {
        margin: 10px -15px;
    }
    .register .input_field {
        position: relative;
        margin-bottom: 20px;
        animation: bounce 0.6s ease-out;
    }
    .register input[type=text],
    .register input[type=email],
    .register input[type=password] {
        width: 100%;
        padding: 8px 10px 9px 35px;
        height: 35px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
    .register input[type=submit] {
        width: 29%;
        padding: 10px;
        background-color: #ff8c42;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;
    }
    .register input[type=submit]:hover {
        background: #ff680b;
    }
    .register input[type=submit]:focus {
        background: #ff680b;
    }
    .register-label {
        margin-bottom: 20px;
    }

</style>
{% endblock %}

<body>
    <div class="register">
      <h2>Registration</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.first_name}}
        </div>
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.last_name}}
        </div>
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.email}}
        </div>
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.username}}
        </div>
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.password1}}
        </div>
        <div class="register-label">
          <span><i aria-hidden="true"></i></span>
          {{form.password2}}
        </div>
        <p>If you have an account already → <a href="{% url 'login' %}">Log In</a></p>
        <input class="register-button" type="submit" value="Register" />
      </form>
    </div>
  
    <script>
      var form_fields = document.getElementsByClassName('register-label');
      form_fields[0].querySelector('input').placeholder = 'First Name';
      form_fields[1].querySelector('input').placeholder = 'Last Name';
      form_fields[2].querySelector('input').placeholder = 'Email';
      form_fields[3].querySelector('input').placeholder = 'Username';
      form_fields[4].querySelector('input').placeholder = 'Enter password';
      form_fields[5].querySelector('input').placeholder = 'Re-enter Password';
  
      for (var i = 0; i < form_fields.length; i++) {
        form_fields[i].querySelector('input').classList.add('register-control');
      }
    </script>
    {% if messages %}
      {% for m in messages %}
          <script>
              Swal.fire({
                  "text" : "{{m}}",
                  "icon" : "success"
              })
          </script>
      {% endfor %}
    {% endif %}
  </body>
  
  </html>

  




