{% load static %}
<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผลิตภัณฑ์และสินค้า</title>
    <link rel="stylesheet" href="{% static 'css/style_shopping.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <h1>คลินิกน้องหมาโฮ่ง<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            แมวเหมียว <i class="fa fa-paw"></i></h1>
        <nav>
            <ul>
                <li><a href="#"><i class="fa fa-shopping-cart"></i> ผลิตภัณฑ์และสินค้า</a></li>
                <li><a href="contact.html"><i class="fa fa-phone"></i> ติดต่อ</a></li>
                <li><a href="service.html"><i class="fa-solid fa-clipboard-list"></i> บริการ</a></li>
                <li><a href="#"><i class="fa fa-calendar"></i> นัดจอง</a></li>
                <li><a href="#"><i class="fa fa-user-alt fa-lg"></i></a></li>
            </ul>

        </nav>
    </header>
    <main>
        <br><br>

        <div class="container">
            <div class="sidebar">
                <a href="#" class="fix-head">ผลิตภัณฑ์และสินค้า</a>
                <a href="shopping.html">อุปกรณ์อาบน้ำ</a>
                <a href="#shopping_sweet.html">ขนม</a>
                <a href="#">ของเล่น</a>
            </div>
            <div class="content">

                <div class="cart-container">
                  
                    <div class="cart-item">
                        <img src="{% static 'image/dogicon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo1.jpg' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>MUTA Dog Shampoo สูตร Honey</h3>
                            <p>ราคา : 159 ฿</p>
                        </div>
                         
                    </div>
                    <div class="cart-item">
                        <img src="{% static 'image/dogicon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo2.jpg' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>MUTA Dog Shampoo สูตร RELAXY</h3>
                            <p>ราคา : 159 ฿</p>
                        </div>
                    </div>
                    <div class="cart-item">
                        <img src="{% static 'image/dogicon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo3.jpg' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>MUTA Dog Shampoo สูตร FRUITY</h3>
                            <p>ราคา : 159 ฿</p>
                        </div>
                    </div>
                    <div class="cart-item">
                        <img src="{% static 'image/dogicon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo4.jfif' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>Odor Control Dog</h3>
                            <p>ราคา : 699 ฿</p>
                        </div>
                    </div>
                    <div class="cart-item">
                        <img src="{% static 'image/caticon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo5.jpg' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>Kanimal Cat Shampoo</h3>
                            <p>ราคา : 189 ฿</p>
                        </div>
                    </div>
                    <div class="cart-item">
                        <img src="{% static 'image/caticon.png' %}" alt="Dog/Cat Icon" class="icon-image"> 
                        <img src="{% static 'image/shampoo6.jpg' %}" alt="สินค้า 1" class="cart-image">
                        <div class="pricetag">
                            <h3>Baering Cat Shampoo</h3>
                            <p>ราคา : 249 ฿</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>
</body>

</html>